<!DOCTYPE html>
<html>
<head>
	<title><%= @title %></title>
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<link rel="stylesheet" type="text/css" href="/css/top.css">
</head>
<body>
	<div class="wrapper">
		<h1>English Word Application</h1>
		<div class="index_menu">
			<ul class="index_menu-list cf">
				<li>
					<a href="/regist" class="index_menu-item">
						<p><span class="word_regist">単語登録</span></p>
					</a>
				</li>
				<li>
					<a href="/test" class="index_menu-item">
						<p><span class="word_test">単語テスト</span></p>
					</a>
				</li>
				<li>
					<a href="/manage" class="index_menu-item">
						<p><span class="word_management">単語管理</span></p>
					</a>
				</li>
			</ul>
		</div>
		<div class="discription_area">
			<p class="default_text">学習した英単語を記録、復習するアプリです。</p>
			<p class="regist_text is-hidden">学習した英単語を記録するページです。<br>
			記録した単語は単語管理画面で編集出来ます。</p>
			<p class="test_text is-hidden">記録した英単語を使ってテストを行うページです。</p>
			<p class="manage_text is-hidden">記録した英単語を管理するページです。<br>
			単語の編集・削除が出来ます。</p>
		</div>
	</div>
	<script type="text/javascript" src="/js/common.js"></script>
</body>
</html>