<!DOCTYPE html>
<html>
<head>
	<title>WordApplication - input</title>
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<link rel="stylesheet" type="text/css" href="/css/manage.css">
</head>
<body>
	<div class="wrapper">
		<% include 'subMenu' %>
		<h1>Word Manager</h1>
		<div class="manage_content">
			<div class="sort_box">
				<div class="sample cf">
					<input type="radio" name="s2" id="on" value="date" checked="">
					<label for="on" class="sortby-date">作成日</label>
					<input type="radio" name="s2" id="off" value="category">
					<label for="off" class="sortby-category">種類</label>
				</div>
			</div>
			<ul id="js-wordList" class="word_list cf">
				<li class="word_list-item js-wordListItem">
					<span class="remove-button js-removeButton"></span>
					<table cellspacing="0" class="table js-wordListItemTable">
						 <tr>
						 	<th colspan="3" class="title-meishi js-editTextArea" contenteditable="true">laptop</th>
						 </tr>
						 <tr>
						 	<td class="item_title">和訳:</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">ノートパソコン</td>
						 </tr>
						 <tr>
						 	<td class="item_title">種類:</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">名詞</td>
						 </tr>
						 <tr>
						 	<td class="item_title">例文(英):</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">Is this laptop yours?</td>
						 </tr>
						 <tr>
						 	<td class="item_title">例文(和):</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">このノートパソコンはあなたのですか？</td>
						 </tr>
					</table>
				</li>
				<li class="word_list-item js-wordListItem">
					<span class="remove-button js-removeButton"></span>
					<table cellspacing="0" class="table js-wordListItemTable">
						 <tr>
						 	<th colspan="3" class="title-daimeishi js-editTextArea" contenteditable="true">they</th>
						 </tr>
						 <tr>
						 	<td class="item_title">和訳:</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">彼ら</td>
						 </tr>
						 <tr>
						 	<td class="item_title">種類:</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">代名詞</td>
						 </tr>
						 <tr>
						 	<td class="item_title">例文(英):</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">They are students.</td>
						 </tr>
						 <tr>
						 	<td class="item_title">例文(和):</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">彼らは学生です。</td>
						 </tr>
					</table>
				</li>
				<li class="word_list-item js-wordListItem">
					<span class="remove-button js-removeButton"></span>
					<table cellspacing="0" class="table js-wordListItemTable">
						 <tr>
						 	<th colspan="3" class="title-doushi js-editTextArea" contenteditable="true">get</th>
						 </tr>
						 <tr>
						 	<td class="item_title">和訳:</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">取得する</td>
						 </tr>
						 <tr>
						 	<td class="item_title">種類:</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">動詞</td>
						 </tr>
						 <tr>
						 	<td class="item_title">例文(英):</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">Shall I get you the book?</td>
						 </tr>
						 <tr>
						 	<td class="item_title">例文(和):</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">その本を取ってきましょうか？</td>
						 </tr>
					</table>
				</li>
				<li class="word_list-item js-wordListItem">
					<span class="remove-button js-removeButton"></span>
					<table cellspacing="0" class="table js-wordListItemTable">
						 <tr>
						 	<th colspan="3" class="title-keiyoushi js-editTextArea" contenteditable="true">ready</th>
						 </tr>
						 <tr>
						 	<td class="item_title">和訳:</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">準備</td>
						 </tr>
						 <tr>
						 	<td class="item_title">種類:</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">形容詞</td>
						 </tr>
						 <tr>
						 	<td class="item_title">例文(英):</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">Are you ready?</td>
						 </tr>
						 <tr>
						 	<td class="item_title">例文(和):</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">準備いいですか？</td>
						 </tr>
					</table>
				</li>
				<li class="word_list-item js-wordListItem">
					<span class="remove-button js-removeButton"></span>
					<table cellspacing="0" class="table js-wordListItemTable">
						 <tr>
						 	<th colspan="3" class="title-fukushi js-editTextArea" contenteditable="true">quickly</th>
						 </tr>
						 <tr>
						 	<td class="item_title">和訳:</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">素早く</td>
						 </tr>
						 <tr>
						 	<td class="item_title">種類:</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">副詞</td>
						 </tr>
						 <tr>
						 	<td class="item_title">例文(英):</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">Please don't speak quickly.</td>
						 </tr>
						 <tr>
						 	<td class="item_title">例文(和):</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">早く話さないでください。</td>
						 </tr>
					</table>
				</li>
				<li class="word_list-item js-wordListItem">
					<span class="remove-button js-removeButton"></span>
					<table cellspacing="0" class="table js-wordListItemTable">
						 <tr>
						 	<th colspan="3" class="title-kanshi js-editTextArea" contenteditable="true">a, an</th>
						 </tr>
						 <tr>
						 	<td class="item_title">和訳:</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">一つの</td>
						 </tr>
						 <tr>
						 	<td class="item_title">種類:</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">冠詞</td>
						 </tr>
						 <tr>
						 	<td class="item_title">例文(英):</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">This is an apple.</td>
						 </tr>
						 <tr>
						 	<td class="item_title">例文(和):</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">これは一つのリンゴです。</td>
						 </tr>
					</table>
				</li>
				<li class="word_list-item js-wordListItem">
					<span class="remove-button js-removeButton"></span>
					<table cellspacing="0" class="table js-wordListItemTable">
						 <tr>
						 	<th colspan="3" class="title-jodoushi js-editTextArea" contenteditable="true">can</th>
						 </tr>
						 <tr>
						 	<td class="item_title">和訳:</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">出来る</td>
						 </tr>
						 <tr>
						 	<td class="item_title">種類:</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">助動詞</td>
						 </tr>
						 <tr>
						 	<td class="item_title">例文(英):</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">I can speak japanese.</td>
						 </tr>
						 <tr>
						 	<td class="item_title">例文(和):</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">私は日本語を話すことができる。</td>
						 </tr>
					</table>
				</li>
				<li class="word_list-item js-wordListItem">
					<span class="remove-button js-removeButton"></span>
					<table cellspacing="0" class="table js-wordListItemTable">
						 <tr>
						 	<th colspan="3" class="title-zenchishi js-editTextArea" contenteditable="true">Ready</th>
						 </tr>
						 <tr>
						 	<td class="item_title">和訳:</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">準備</td>
						 </tr>
						 <tr>
						 	<td class="item_title">種類:</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">前置詞</td>
						 </tr>
						 <tr>
						 	<td class="item_title">例文(英):</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">Are you ready?</td>
						 </tr>
						 <tr>
						 	<td class="item_title">例文(和):</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">準備いいですか？</td>
						 </tr>
					</table>
				</li>
				<li class="word_list-item js-wordListItem">
					<span class="remove-button js-removeButton"></span>
					<table cellspacing="0" class="table js-wordListItemTable">
						 <tr>
						 	<th colspan="3" class="title-gimonshi js-editTextArea" contenteditable="true">Ready</th>
						 </tr>
						 <tr>
						 	<td class="item_title">和訳:</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">準備</td>
						 </tr>
						 <tr>
						 	<td class="item_title">種類:</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">疑問詞</td>
						 </tr>
						 <tr>
						 	<td class="item_title">例文(英):</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">Are you ready?</td>
						 </tr>
						 <tr>
						 	<td class="item_title">例文(和):</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">準備いいですか？</td>
						 </tr>
					</table>
				</li>
				<li class="word_list-item js-wordListItem">
					<span class="remove-button js-removeButton"></span>
					<table cellspacing="0" class="table js-wordListItemTable">
						 <tr>
						 	<th colspan="3" class="title-setsuzokushi js-editTextArea" contenteditable="true">Ready</th>
						 </tr>
						 <tr>
						 	<td class="item_title">和訳:</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">準備</td>
						 </tr>
						 <tr>
						 	<td class="item_title">種類:</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">接続詞</td>
						 </tr>
						 <tr>
						 	<td class="item_title">例文(英):</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">Are you ready?</td>
						 </tr>
						 <tr>
						 	<td class="item_title">例文(和):</td>
						 	<td class="item_content js-editTextArea" contenteditable="true">準備いいですか？</td>
						 </tr>
					</table>
				</li>
			</ul>
		</div>
	</div>

	<script type="text/javascript" src="/js/common.js"></script>
	<script type="text/javascript" src="/js/manage.js"></script>
</body>
</html>