<!DOCTYPE html>
<html>
<head>
	<title>WordApplication - input</title>
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<link rel="stylesheet" type="text/css" href="/css/regist.css">
</head>
<body>
	<div class="wrapper">
		<% include 'subMenu' %>
		<h1>Word Register</h1>
		<div class="input_content">
			<ul class="input_data_list">
				<li class="input_data_list-item">
					<p class="input_data_list-title">単語</p>
					<input type="text" class="input_data_list-data"></input>
				</li>
				<li class="input_data_list-item">
					<p class="input_data_list-title">和訳</p>
					<input type="text" class="input_data_list-data"></input>
				</li>
				<li class="input_data_list-item">
					<p class="input_data_list-title">種類</p>
					<select type="text" class="input_data_list-data">
					<option>名詞</option>
					<option>代名詞</option>
					<option>動詞</option>
					<option>形容詞</option>
					<option>副詞</option>
					<option>冠詞</option>
					<option>助動詞</option>
					<option>前置詞</option>
					<option>疑問詞</option>
					<option>接続詞</option>
					</select>
				</li>
				<li class="input_data_list-item">
					<p class="input_data_list-title">例文</p>
					<input type="text" class="input_data_list-data" placeholder="英:"></input>
					<input type="text" class="input_data_list-data" placeholder="和:"></input>
				</li>
			</ul>
			<ul class="data_action_button cf">
				<li class="action_button-gray data_action_button-item clear">クリア</li>
				<li class="action_button-blue data_action_button-item">登録</li>
			</ul>
		</div>
		<div class="input_history">
			<h3>最近登録した単語</h3>
			<ul class="input_history-list">
				<li class="input_history-item">
					<div class="is-hidden">
						<div class="input_history-layer"></div>
						<div class="input_history-action">
							<img src="/images/edit.png" height="34" class="input_history-icon">
							<img src="/images/remove.png" height="34" class="input_history-icon">
						</div>
					</div>
					<p class="input_history-date">07:16&nbsp;<span>11</span>/<span>03</span></p>
					<p class="input_history-word">can</p></li>
				<li class="input_history-item">
					<div class="is-hidden">
						<div class="input_history-layer"></div>
						<div class="input_history-action">
							<img src="/images/edit.png" height="34" class="input_history-icon">
							<img src="/images/remove.png" height="34" class="input_history-icon">
						</div>
					</div>
					<p class="input_history-date">07:13&nbsp;<span>11</span>/<span>03</span></p>
					<p class="input_history-word">we</p></li>
				<li class="input_history-item">
					<div class="is-hidden">
						<div class="input_history-layer"></div>
						<div class="input_history-action">
							<img src="/images/edit.png" height="34" class="input_history-icon">
							<img src="/images/remove.png" height="34" class="input_history-icon">
						</div>
					</div>
					<p class="input_history-date">07:10&nbsp;<span>11</span>/<span>03</span></p>
					<p class="input_history-word">yes</p>
				</li>
			</ul>
		</div>
	</div>

	<script type="text/javascript" src="/js/common.js"></script>
</body>
</html>