<% content 'subMenu' %>
<div id="js-sideMenu" class="side_menu">
	<div class="side_menu-content">
		<div class="side_menu-trigger js-sideMenuTrigger">
			<img src="/images/menu.png" height="20">
		</div>
		<h2>MENU</h2>
		<ul class="side_menu-list">
			<li>
				<a href="/" class="side_menu-item">
					<p><span class="home">ホーム</span></p>
				</a>
			</li>
			<li>
				<a href="/regist" class="side_menu-item">
					<p><span class="word_regist">単語登録</span></p>
				</a>
			</li>
			<li>
				<a href="/test" class="side_menu-item">
					<p><span class="word_test">単語テスト</span></p>
				</a>
			</li>
			<li>
				<a href="/manage" class="side_menu-item">
					<p><span class="word_management">単語管理</span></p>
				</a>
			</li>
		</ul>
	</div>
</div>