<!DOCTYPE html>
<html>
<head>
	<title>WordApplication - input</title>
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<link rel="stylesheet" type="text/css" href="/css/test.css">
</head>
<body>
	<div class="wrapper">
		<% include 'subMenu' %>
		<h1>Word Tester</h1>
		<div class="test_content">
			<fieldset>
				<legend>Question <span>1</span>/<span>30</span></legend>
				<div class="question">				
					<p class="question-text">単語を和訳せよ</p>
				</div>
				<p class="part_of_speach">形容詞</p>
				<p class="word">Ready</p>
				<p class="sentence">例文: <span>Are you ready?</span></p>
				<input type="text" placeholder="回答を入力" class="answer-box">
				<ul class="answer_button cf">
					<li class="action_button-gray answer_button-skip">スキップ</li>
					<li class="action_button-blue answer_button-answer">回答</li>
				</ul>
			</fieldset>

			<div class="explanatory">
				<h2>テストについて</h2>
				<p>
					このページでは、単語の和訳・英訳テストを行います。<br>
					登録済みの単語リストの中からランダムで問題が表示されるので、和訳・英訳してください。<br>
					全て解答次第、テストは終了します。<br>
					<span class="red_text">３回以上</span>間違った解答をするかスキップボタンを押すと、正しい解答が表示され、次の問題へ進みます。<br>
					(不正解率やスキップ率の高い単語は赤く表示されます。)
				</p>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/js/common.js"></script>
</body>
</html>