* {
	margin: 0;
	padding: 0;
	word-break: break-all;
}

html, body {
	width: 100%;
	height: 100%;
	background-color: #f6f6f6;
}

@font-face {
	font-family: "Futura";
	src: url("/fonts/futura.ttf");
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

h1 {
	text-align: center;
	font-family: "Futura";
	font-weight: lighter;
	color: #57a;
}

h2 {
	font-size: 21px;
}

.cf:after {
  content: "";
  clear: both;
  display: block;
}

.is-hidden {
	display: none;
}

.wrapper {
	padding-top: 20px;
	width: 100%;
}

.red_text {
	color: #d33;
	font-weight: bold;
}

.action_button-blue {
	background: -moz-linear-gradient(top,#09C 0%,#09C 50%,#069 50%,#069);
	background: -webkit-gradient(linear, left top, left bottom,from(#09C), color-stop(0.5,#09C), color-stop(0.5,#069),  to(#069));
	border: 1px solid #DDD;
	color: #FFF;
	padding: 10px 0;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;

	&:hover {
		opacity: 0.9;
	}
}
.action_button-gray {
	background: -moz-linear-gradient(top,#bbb 0%,#bbb 50%,#999 50%,#999);
	background: -webkit-gradient(linear, left top, left bottom,from(#bbb), color-stop(0.5,#bbb), color-stop(0.5,#999),  to(#999));
	border: 1px solid #DDD;
	color: #FFF;
	padding: 10px 0;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;

	&:hover {
		opacity: 0.9;
	}
}

.side_menu {
	position: fixed;
	height: 100%;
	top: 0px;
	left: -302px;
	z-index: 10;

	h2 {
		font-family: "Futura";
		text-align: center;
		color: #469;
	}

	.side_menu-content {
		position: relative;
		width: 300px;
		padding-top: 10px;
		border: solid 1px #ccc;
		background-color: #fff;
		height: 100%;
		box-shadow: 0 0 9px rgba(0,0,0,.3);

		.side_menu-trigger {
			position: absolute;
			top: 4px;
			right: -63px;
			background-color: #069;
			padding: 12px 8px;
			border-radius: 0px 4px 4px 0px;
			cursor: pointer;
		}

		.side_menu-list {
			margin-top: 10px;

			.side_menu-item {
				display: block;
				padding: 15px 0px;
				text-align: center;
				border-bottom: solid 1px #ccc;
				color: #555;
				font-weight: bold;
				cursor: pointer;

				&:first-child {
					border-top: solid 1px #ccc;
				}

				&:hover {
					background-color: #f0f0f0;
				}
			}
			span {
				padding-left: 20px;
				background-size: contain;
				background-repeat: no-repeat;
			}
			.home {
				background-image: url(/images/home.png);
			}
			.word_regist {
				background-image: url(/images/word_regist.png);
			}
			.word_test {
				background-image: url(/images/word_test.png);
			}
			.word_management {
				background-image: url(/images/word_management.png);
			}
		}
	}
}