.manage_content {
	width: 810px;
	margin: auto;
}

.sort_box {
	margin-top: 30px;

	.sample {
		margin-left: 30px;
		padding: 5px 10px;
		width: 160px;
	}
}

.sample input {
	display: none;
}
.sample label{
	display: block;
	float: left;
	cursor: pointer;
	width: 60px;
	margin: 0;
	padding: 10px;
	background: #bdc3c7;
	color: #869198;
	font-size: 16px;
	text-align: center;
	line-height: 1;
	transition: .2s;
}
.sample label:first-of-type{
	border-radius: 3px 0 0 3px;
}
.sample label:last-of-type{
	border-radius: 0 3px 3px 0;
}
.sample input[type="radio"]:checked + .sortby-date {
	background-color: #006699;
	color: #fff;
}
.sample input[type="radio"]:checked + .sortby-category {
	background-color: #006699;
	color: #fff;
}

.word_list-item {
	width: 250px;
	height: 250px;
	margin: 10px;
	float: left;
	position: relative;

	.remove-button {
		position: absolute;
		top: -5px;
		right: -8px;
		height: 29px;
		width: 29px;
		background-image: url("/images/manage-remove-icon.png");
		cursor: pointer;
	}
}

.table {
	width: 250px;
	padding: 10px;
	color: #666;
	font-size: 15px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px #ccc;

	tr:nth-child(even) {
		background-color: #f3f3f3;
	}

	th {
		font-size: 18px;
		padding: 5px;
		color: #fff;
		text-align: center;
	}
	.title-meishi{
		background-color :#e09999;
	}
	.title-daimeishi{
		background-color :#e0c399;
	}
	.title-doushi{
		background-color :#d6d48a;
	}
	.title-keiyoushi{
		background-color :#bae099;
	}
	.title-fukushi{
		background-color :#99e0b6;
	}
	.title-kanshi{
		background-color :#99e0dc;
	}
	.title-jodoushi{
		background-color :#99bfe0;
	}
	.title-zenchishi{
		background-color :#9999e0;
	}
	.title-gimonshi{
		background-color :#c099e0;
	}
	.title-setsuzokushi{
		background-color :#e099e0;
	}

	tr td {
		text-indent: 5px;
		padding: 2px 5px;
	}

	.item_title {
		width: 70px
	}
	.item_content, th {
		cursor: pointer;
	}
	.item_content:hover, th:hover {
		opacity: .7;
	}
}