.input_content {
	padding: 20px 10px;
	margin: 20px auto auto auto;
	width: 360px;
}
.input_data_list {
	margin: auto;
	width: 300px;

	.input_data_list-item {
		margin-top: 25px;

		&:first-child {
			margin-top: 0px;
		}

		.input_data_list-title {
			font-weight: bold;
			text-indent: 5px;
			border-left: solid 5px #ccc;
		}

		.input_data_list-data {
			margin-top: 10px;
			height: 30px;
			width: 300px;
			background-color: #fff;
			font-size: 21px;
			padding: 2px 4px;
			border-radius: 4px;
			border: solid #ccc 2px;
		}
	}
}

.data_action_button {
	width: 274px;
	margin: 20px auto auto auto;

	.data_action_button-item {
		float: left;
		margin-left: 10px;
		width: 130px;
		height: 30px;
		line-height: 30px;

		&:first-child {
			margin-left: 0px;
		}
	}
}

.input_history {
	position: fixed;
	right: 0px;
	bottom: 10px;

	h3 {
		text-align: center;
		color: #57a;
		font-weight: bold;
		font-size: 16px;
	}

	.input_history-list {
		.input_history-item {
			position: relative;
			left: 10px;
			width: 130px;
			color: #fff;
			background-color: #28b;
			padding: 10px 50px 10px 20px;
			font-size: 18px;
			margin-top: 10px;
			border-left: solid 10px #069;
			border-radius: 5px 0px 0px 0px;
			cursor: pointer;

			&:hover {
				left: 0px;
				opacity: .8;
			}

			.input_history-word {
				font-weight: bold;
			}

			.input_history-layer {
				position: absolute;
				top: 0px;
				left: 0px;
				height: 100%;
				width: 100%;
				background-color: #000;
				opacity: 0.7;
				border-radius: 5px 0px 0px 0px;
			}
			.input_history-action {
				position: absolute;

				.input_history-icon {
					margin-left: 12px;

					&:hover {
						opacity: 0.7;
					}
				}
			}
		}
	}
}