.test_content {
	width: 500px;
	margin: 30px auto auto auto;
	color: #444;

		fieldset {
			padding: 10px 10px 25px 10px;
			background-color: #fff;
			border-radius: 10px;

			legend {
				font-size: 20px;
				font-weight: bold;
			}
		}

		.question {
			padding-bottom: 10px;
			border-bottom: solid 1px #bbb;

			.question-text {
				font-size: 18px;
				text-indent: 20px;
			}
		}
		.part_of_speach {
			margin-top: 10px;
			text-align: center;
		}
		.word {
			text-align: center;
			font-size: 32px;
			font-weight: bold;
		}
		.sentence {
			text-align: center;
		}
		.answer-box {
			display: block;
			margin: 20px auto;
			border: solid 1px #999;
			border-radius: 3px;
			height: 30px;
			width: 400px;
			padding: 2px;
			font-size: 21px;
			text-align: center;
		}
		.answer_button {
			margin: auto;
			width: 414px;

			li {
				width: 200px;
				height: 30px;
				border-radius: 3px;
				border: solid 1px #ccc;
				text-align: center;
				line-height: 30px;
				float: left;
				margin-left: 10px;
				cursor: pointer;
			}

			.answer_button-skip {
				margin-left: 0px;
			}

		}

		.explanatory {
			margin-top: 30px;
			padding-bottom: 100px;
		}
}
