.index_menu {
	width: 676px;
	margin: 50px auto auto auto;

	.index_menu-list {
		li {
			float: left;
			margin-left: 20px;

			&:first-child {
				margin-left: 0px;
			}
		}
		.index_menu-item {
			position: relative;
			display: block;
			width: 210px;
			height: 120px;
			text-align: center;
			line-height: 120px;
		    text-decoration: none;
		    color: #fff;
		    font-weight: bold;
		    background-color: #538fbe;
		    font-size: 24px;
		    border: 1px solid #2d6898;
			-webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
			-moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
			box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);

			&:hover {
				top: 5px;
				-webkit-box-shadow: 0px 1px 0px #2b638f, 0px 3px 4px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
				-moz-box-shadow: 0px 1px 0px #2b638f, 0px 3px 4px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
				box-shadow: 0px 1px 0px #2b638f, 0px 3px 4px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);

			}
		}
	}
}

.discription_area {
	height: 180px;
	width: 700px;
	margin: 90px auto auto auto;
	border: solid 1px #ccc;
	text-align: center;
	font-size: 24px;
	background-color: #fff;

	.default_text {
		line-height: 180px
	}
}